header {
    background: url('../src/assets/BordureHeader1.png') repeat;
    background-size: cover;
    width: 70%;
}

    


header.head {
    background-color: rgba(75, 75, 75, 0.3); /* Semi-transparent background */
    color: #9ed79d;
    padding: 5px 5px; /* Padding for robust look */
    display: flex;
    align-items: center;
    position: fixed;
    width: 99.8%;
    top: 0;
    z-index: 1000; /* Ensures header stays above content */
    backdrop-filter: blur(6px); /* Applies blur effect to background */
    -webkit-backdrop-filter: blur(6px); /* For Safari support */
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* Optional: adds subtle border */
}


.head-logo {
    flex: 1;
    display: flex;
    align-items: center;
}
.head-logo img {
    max-width: 80px; 
    height: auto;
    margin-left: 25px;
}

.head-logo2 {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Align the right logo to the right */
}

/* Style for the right-side logo */
.head-logo2 img {
    max-width: 220px; 
    height: 100px;
    margin-left: -100px;
}


.head-username {
    color: #9ed79d;
    font-size: 1.1rem; /* Taille de police légèrement plus grande pour lisibilité */
}

.head-title {
    flex: 1.5; /* Réduit l'espace occupé par le titre pour laisser plus de place à la navigation */
    text-align: center;
}

.head-title h1 {
    margin: 0;
    font-size: 1.8rem; /* Taille de police légèrement réduite */
    color: #9ed79d;
    letter-spacing: 1.2px; /* Espacement des lettres réduit */
    font-weight: bold; /* Texte en gras pour une meilleure lisibilité */
}

nav.head-nav {
    flex: 1.2; /* Augmenter la flexibilité de l'espace pour les éléments de navigation */
    margin-right: 35px;
    display: flex;
    justify-content: flex-end;
    gap: 10px; /* Réduit l'espace entre les éléments de navigation et le titre */
    align-items: center; 
    white-space: nowrap; 
}

nav.head-nav a {
    text-decoration: none;
    color: #9ed79d;
    font-size: 1rem; /* Taille de police standard */
    font-weight: bold; /* Les liens en gras pour un look plus affirmé */
}

nav.head-nav a:hover {
    color: #b3b3b3; /* Couleur au survol plus douce */
}
