/* Chargement de la police Inquisitor */
@font-face {
    font-family: 'Inquisitor';
    src: url('fonts/Inquisitor.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Fond et style global */
body {
    background: url('../src/assets/bureau.png') no-repeat center center fixed;
    background-size: cover;
    color: #f1f1f1;
    margin: 0;
    padding: 0;
    font-family: 'Inquisitor', serif;
}

/* Container principal */
.container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);
    border: 5px solid #444;
}

/* Titres */
h1, h2 {
    font-family: 'Inquisitor', serif;
    text-transform: uppercase;
    text-align: center;
}

h1 {
    color: #A93226; /* Rouge sombre */
    font-weight: bold;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

h2 {
    color: #922B21; /* Rouge intense */
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    letter-spacing: 2px;
}

/* Formulaire de recherche */
form {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

label {
    font-size: 16px;
    color: #f1f1f1;
    margin-right: 10px;
}

input[type="text"], select {
    padding: 8px;
    background-color: #333;
    border: 1px solid #555;
    color: #f1f1f1;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #A93226;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #922B21;
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    font-family: 'Cinzel', serif;
    border: 1px solid #555;
    padding: 12px;
    text-align: center;
}

table th {
    font-family: 'Cinzel', serif;
    background-color: #333;
    color: #f1f1f1;
    text-transform: uppercase;
}

table tr:nth-child(even) {
    background-color: #222;
}

table tr:nth-child(odd) {
    background-color: #111;
}

table td select {
    font-family: 'Cinzel', serif;
    background-color: #444;
    border: none;
    color: #f1f1f1;
    padding: 8px;
    border-radius: 5px;
}

table td select:hover {
    background-color: #555;
}

/* Boutons */
button {
    background-color: #444;
    color: #f1f1f1;
    border: 1px solid #555;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555;
}

/* Style pour les messages de succès */
p {
    color: green;
    font-weight: bold;
    text-align: center;
}
