/* Style global */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: url('../src/assets/Background.png') no-repeat center center fixed; 
    background-size: cover; /* Assure que l'image couvre tout l'écran */
    color: #1DB60E; 
}

p img{
    width: 20px;
    height: auto;
}


h2 {
    text-align: center; /* Centre le texte horizontalement */
    padding-top: 100px; /* Ajoute un espace de 100px en haut */
}


/* Conteneur principal */
.explain_container {
    padding: 100px 20px 40px; /* Ajuster le padding pour compenser le header fixe */
    text-align: center;
}

.intro_content {
    text-align: center;
    font-size: 16px; /* Taille du texte */
    line-height: 1.5;
    width: 60%; /* Largeur du conteneur */
    max-width: 1000px; /* Limite la largeur à 800px pour les grands écrans */
    margin: 0 auto; /* Centre le conteneur horizontalement */
    padding: 20px; /* Ajoute un peu de padding pour aérer le texte */
}

.intro_content a {
    color: inherit;
}

.explain_container h2 {
    margin-bottom: 3px;
    font-size: 2.5rem; /* Augmenter la taille du texte pour plus d'impact */
    color: #c1c1c1; /* Couleur plus douce que le blanc pur */
    text-transform: uppercase; /* Transformer en majuscules pour un effet stylé */
    letter-spacing: 2px; /* Espacement des lettres */
}
.Discord img {
    transition: all 0.8s ease; /* Optionnel : pour une transition douce */
    width: 45%; 
    height: 45%;
}

.Discord img:hover {
    content: url('../src/assets/BoutonDiscord1.png');
    transition: all 0.8s ease;
}

.specialties {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 20px;
}

.row {
    display: flex;
    justify-content: space-around; 
    width: 90%; 
}
.specialty-image {
    height: 60%;
    width: 70%;
    margin-left: -10px;
}

.specialty img {
    width: 90%; 
    height: 90%;
    transition: transform 0.2s ease, content 0.5s ease;
}

.specialty img:hover {
    transform: scale(1.05); /* Optionnel : effet de zoom léger */
}

.specialty img[src*="BoutonMGunner0.png"]:hover {
    content: url('../src/assets/BoutonMGunner1.png');
}

.specialty img[src*="BoutonATank0.png"]:hover {
    content: url('../src/assets/BoutonATank1.png');
}

.specialty img[src*="BoutonMedicae0.png"]:hover {
    content: url('../src/assets/BoutonMedicae1.png');
}

.specialty img[src*="BoutonVOperateur0.png"]:hover {
    content: url('../src/assets/BoutonVOperateur1.png');
}

.specialty img[src*="BoutonMarksman0.png"]:hover {
    content: url('../src/assets/BoutonMarksman1.png');
}

.specialty img[src*="BoutonPlasma0.png"]:hover {
    content: url('../src/assets/BoutonPlasma1.png');
}

.specialty img[src*="BoutonBreacher0.png"]:hover {
    content: url('../src/assets/BoutonBreacher1.png');
}

.specialty img[src*="BoutonETLourd0.png"]:hover {
    content: url('../src/assets/BoutonETLourd1.png');
}


.eff img {
    transition: all 0.8s ease; /* Optionnel : pour une transition douce */
    width: 35%; 
    height: 35%;
}

.eff img:hover {
    content: url('../src/assets/BoutonNosEffectifs1.png');
    transition: all 0.8s ease;
}



.intro_content {
    padding-top: 100px;
}

form {
    background-color: #4e4e4e; /* Couleur de fond douce pour le formulaire */
    padding: 20px; /* Padding pour donner de l'espace à l'intérieur du formulaire */
    border-radius: 10px; /* Bords arrondis */
    max-width: 400px; /* Largeur maximale du formulaire */
    margin: 100px auto; /* Centrer le formulaire horizontalement et espacer en haut */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Ombre douce pour donner de la profondeur */
}

form label {
    font-size: 1rem; /* Taille de police pour les labels */
    color: #1DB60E; /* Couleur de texte */
    display: block; /* S'assure que le label est sur une ligne distincte */
    margin-bottom: 8px; /* Espacement inférieur pour séparer du champ */
}

form input[type="email"],
form input[type="password"] {
    width: 100%; /* Prendre toute la largeur du formulaire */
    padding: 10px; /* Ajouter du padding à l'intérieur du champ */
    margin-bottom: 20px; /* Espacement inférieur pour séparer des autres éléments */
    border: 1px solid #747474; /* Bordure discrète */
    border-radius: 5px; /* Coins légèrement arrondis */
    font-size: 1rem; /* Taille de la police dans les champs */
    box-sizing: border-box; /* Inclut le padding dans la largeur totale */
}

form input[type="submit"] {
    width: 100%; /* Bouton de la même largeur que les champs */
    padding: 10px; /* Ajouter du padding au bouton */
    background-color: #363636; /* Couleur de fond verte pour le bouton */
    color: white; /* Texte blanc */
    border: none; /* Enlever la bordure par défaut */
    border-radius: 5px; /* Coins arrondis */
    font-size: 1rem; /* Taille de la police */
    cursor: pointer; /* Curseur pointer pour indiquer que c'est cliquable */
    transition: background-color 0.3s ease; /* Transition douce au survol */
}

form input[type="submit"]:hover {
    background-color: #000000; /* Couleur légèrement plus sombre au survol */
}

p {
    font-size: 1rem; /* Taille de police standard pour le texte */
    color: #f1f1f1; /* Couleur de texte plus sombre */
    text-align: center; /* Centrer le texte */
    margin-top: 5px; /* Ajout d'un espace au-dessus du paragraphe */
}

p a {
    color: #c90a0a; /* Couleur du lien en vert */
    text-decoration: none; /* Enlever le soulignement du lien */
    font-weight: bold; /* Mettre le lien en gras */
    transition: color 0.3s ease; /* Transition douce pour le changement de couleur */
}

p a:hover {
    color: #800909; /* Couleur légèrement plus sombre au survol */
}
